name: Deploy 
run-name: Build and deploy page
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    name: Build 
    steps:
      - uses: actions/checkout@v3
      - name: Setup Zig
        uses: korandoru/setup-zig@v1
        with:
          zig-version: 0.14.0
      - name: Generate Site
        run: |
          mkdir -pv root/posts
          cp posts/raw/* root/
          zig build run > root/sitemap.txt
      - name: Upload to gh pages
        id: deployment
        uses: actions/upload-pages-artifact@v3 # or specific "vX.X.X" version tag for this action
        with:
          path: root

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      id-token: write
      pages: write
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
